

<div class="card-body">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Name</th>
                <th>Description</th>
                <th>Duration</th>
                <th>Date</th>
                <th>Support Employees</th>
                <th>Action</th>
                <td>Confirmation</td>
            </tr>
        </thead>
        <tbody>

            @if (Appointments == null)
            {
                Console.WriteLine("Load.....");
            }
            else if (Appointments.Count == 0)
            {
                Console.WriteLine("No Appointment information is available at the moment.");
            }
            else
            {
                @foreach (var appointment in Appointments)
                {
                    <tr>
                        <td>
                            <a type="button" style="text-decoration: none; color:dodgerblue" href="@($"/appointmentDetails/{appointment.AppointmentID}")">
                                @appointment.Customer.FullName
                            </a>
                        </td>
                        <td>@appointment.Name</td>
                        <td>@appointment.Description</td>
                        <td>@appointment.Duration</td>
                        <td>@appointment.Date.ToLongDateString()</td>
                        <td>
                            <ul>
                                @foreach (var suppemply in appointment.CustomerSupportAppointments)
                                {

                                    <li>
                                        @suppemply.CustomerSupport.FullName
                                        <a class="btn btn-danger btn-sm" style="font-weight: bold; float: right"
                                           href="@($"/removeCustomerSupportFromAppointment/{suppemply.AppointmentID}/{suppemply.CustomerSupportID}")">
                                            <i class="oi oi-person"></i>
                                        </a>
                                    </li>
                                    <br />
                                }
                            </ul>
                        </td>
                        <td>
                            @if (IsShow)
                            {
                                <a class="btn btn-primary" href="@($"/addCustomerSupportToAppointment/{appointment.AppointmentID}")"><span class="oi oi-people"></span></a>
                            }
                            <a type="button" href="@($"/editAppointment/{appointment.AppointmentID}")" class="btn btn-warning mb-2" style="font-weight: bold"><span class="oi oi-pencil"></span></a>
                            <a type="button" href="@($"/deleteAppointment/{appointment.AppointmentID}")" class="btn btn-danger mb-2" style="font-weight: bold"><span class="oi oi-delete"></span></a>
                        </td>
                        @if (!appointment.IsConfirmed)
                        {
                            <td><button type="button" @onclick="@(() => OnConfirmed(appointment.AppointmentID))" class="btn btn-success" style="font-weight: bold">Confirmed?</button></td>
                        }
                        else
                        {
                            <td><h6>Appointment confirmed</h6></td>
                        }
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
<div class="card-footer">
    <div colspan="3" class="text-right">
        <a type="button" style="font-weight: bold" class="btn btn-outline-info btn-rounded" href="/addAppointment">
            Create Appointment
            <i class="fas fa-angle-right right"></i>
        </a>
    </div>
</div>


@code {
    [Parameter]
    public List<AppointmentView> Appointments { get; set; }

    [Parameter]
    public bool IsShow { get; set; } = false;

    [Parameter]
    public EventCallback<int> OnConfirmationed { get; set; }

    private async Task OnConfirmed(int id)
    {
        Console.WriteLine("In ApplistInfo, id : " + id);
        await OnConfirmationed.InvokeAsync(id);
    }
}